<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<body>
<div th:fragment="content">
    <div class="container-fluid mt-4">
        <h1 class="text-center mb-4 accent-text">Genres</h1>
        <div class="d-flex justify-content-end mb-3">
            <a href="/authors/add" class="btn btn-success">Add Author</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-dark">
                <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th style="width:150px;">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="author : ${authors}">
                    <td th:text="${author.id}"></td>
                    <td th:text="${author.name}"></td>
                    <td>
                        <a th:href="@{/authors/edit/{id}(id=${author.id})}"
                           class="btn btn-warning btn-sm">Edit</a>
                        <a th:href="@{/authors/delete/{id}(id=${author.id})}"
                           class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
